:root {
    --color-title: #FFCC00;
    --font-color: white;
    --background-color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: 15px;
}

.title {
    font-family: bold;
    color: var(--color-title);
    font-family: Arial, Helvetica, sans-serif;
}

.article {
    font-family: Arial, Helvetica, sans-serif;
}


/* .arrays {
    display: none;
} */


/* a:active {
    .arrays {
        display: block;
    }
} */